@use '../../../../static/styles/fonts' as fonts;

.action-card {
    @include fonts.font-regular;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    line-height: 1rem;
    border: 2px solid #000;
    cursor: pointer;

    &__icon {
        font-weight: 900;
    }
}
