$primary: #1976d2;
$primary-dark: #42a5f5;
$secondary: #9c27b0;
$error: #d32f2f;
$main: #ed6c02;
$info: #0288d1;
$success: #2e7d32;
$bg: #000;
$bg-contrast: #fff;
$text-base: #fff;
$text-contrast: #000;

$main-unit: 1rem * 0.5;